body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttons button {
  margin: 10px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
