* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.accordian-container {
  margin-top: 20px;
  width: 450px;
  max-width: 1024px;
}

.data-item {
  display: flex;
  flex-direction: column;
  background-color: brown;
  color: white;
  gap: 20px;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title span {
  font-size: 25px;
  font-weight: bold;
}

h1 {
  background-color: brown;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}
